<main class="flex min-h-screen  flex-col items-start justify-start gap-2 p-4 lg:p-24 ">
    <section class="flex justify-between items-start w-full flex-col gap-2">
        <div class="flex justify-start items-center hover:cursor-pointer" [routerLink]="['/home']">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
              </svg>
              
            <p class="text-md text-gray-800 font-semibold ml-1">Home</p>
        </div>
        <h1 class="text-3xl w-full  text-left font-bold tracking-tight text-gray-900 ">Add Employee</h1>
    </section>
    <section class="input-section flex w-full min-h-full justify-between flex-col sm:flex-row flex-1">
        <form class="w-full flex flex-col gap-5 justify-between md:justify-start items-stretch flex-1"
            [formGroup]="form">
            <div class="w-full flex flex-col gap-6 my-3 sm:m-0">
                <div class="flex justify-between items-center gap-5">
                    <div class="w-full relative">
                        <label for="firstName"
                            class="block mb-2 text-md font-semibold text-gray-900 ">First
                            Name</label>
                        <input type="text" formControlName="firstName" name="firstName" id="firstName"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                            placeholder="First Name" required="true">
                        <app-error-messages [abstractControl]="$any(form.get('firstName'))"
                            [formControlOption]="formControlOption.firstName"></app-error-messages>
                    </div>
                    <div class="w-full relative">
                        <label for="lastName" class="block mb-2 text-md font-semibold text-gray-900 ">Last
                            Name</label>
                        <input type="text" formControlName="lastName" name="lastName" id="lastName"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                            placeholder="Last Name" required="true">
                        <app-error-messages [abstractControl]="$any(form.get('lastName'))"
                            [formControlOption]="formControlOption.lastName"></app-error-messages>
                    </div>
                </div>
                <div class="w-full relative">
                    <label for="email"
                        class="block mb-2 text-md font-semibold text-gray-900 ">Email</label>
                    <input type="text" formControlName="email" name="email" id="email"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                        placeholder="Email" required="true">
                    <app-error-messages [abstractControl]="$any(form.get('email'))"
                        [formControlOption]="formControlOption.email"></app-error-messages>
                </div>
                <div class="w-full relative">
                    <label for="birthDate" class="block mb-2 text-md font-semibold text-gray-900 ">Birth
                        Date</label>

                    <div class="relative w-full">
                        <div class="absolute inset-y-0 start-0 flex items-center pe-3.5 pointer-events-none">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        </div>
                        <input type="text" [max]="maxDate" matInput [matDatepicker]="picker" formControlName="birthDate"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 "
                            placeholder="Select Birth Date">
                        <mat-datepicker #picker></mat-datepicker>
                        <app-error-messages [abstractControl]="$any(form.get('birthDate'))"
                            [formControlOption]="formControlOption.birthDate"></app-error-messages>
                    </div>

                </div>
                <div class="flex justify-between items-center gap-5">
                    <div class="w-full relative">
                        <label for="basicSalary"
                            class="block mb-2 text-md font-semibold text-gray-900 ">Salary</label>
                        <input type="text" appNumberSeparator formControlName="basicSalary" name="basicSalary"
                            id="basicSalary"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                            placeholder="0" required="true">
                        <app-error-messages [abstractControl]="$any(form.get('basicSalary'))"
                            [formControlOption]="formControlOption.basicSalary"></app-error-messages>
                    </div>
                    <div class="w-full relative">
                        <label for="group"
                            class="block mb-2 text-md font-semibold text-gray-900 ">Group</label>
                        <select formControlName="group"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5  "
                            aria-labelledby="dropdownDefaultButton">
                            <option *ngFor="let item of groupOption" [value]="item.value">{{item.value}}</option>
                        </select>
                        <app-error-messages [abstractControl]="$any(form.get('group'))"
                            [formControlOption]="formControlOption.group"></app-error-messages>
                    </div>
                    <div class="w-full relative">
                        <label for="status"
                            class="block mb-2 text-md font-semibold text-gray-900 ">Status</label>
                        <select formControlName="status"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5  "
                            aria-labelledby="dropdownDefaultButton">
                            <option *ngFor="let item of statusOption" [value]="item.value">{{item.value}}</option>
                        </select>
                        <app-error-messages [abstractControl]="$any(form.get('status'))"
                            [formControlOption]="formControlOption.status"></app-error-messages>
                    </div>
                </div>
                <div class="w-full relative">
                    <label for="description" class="block mb-2 text-md font-semibold text-gray-900 ">Description</label>
                    <textarea type="text" formControlName="description" name="description" id="description"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                        placeholder="Employee description" required="true" ></textarea>
                    <app-error-messages [abstractControl]="$any(form.get('description'))"
                        [formControlOption]="formControlOption.description"></app-error-messages>
                </div>
            </div>
            <div class="flex w-full flex-col md:flex-row justify-end items-center gap-2">
                <!-- [disabled]="!this.form.valid" -->
                <button (click)="onSubmit()" type="submit"
                    class="w-full md:w-36 text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:bg-primary-900 ">Save</button>
                <button [routerLink]="['/home']"
                    class="w-full md:w-36 text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:bg-red-900 ">Cancel</button>
            </div>
        </form>
    </section>

</main>