<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0">
        <h1 class="text-3xl w-full  text-center font-bold tracking-tight text-gray-900 dark:text-white">Page Not Found</h1>
        <button [routerLink]="['/home']">
            <p>Back to Home</p>
        </button>
    </div>
  </section>