<ng-container *ngFor="let rule of formControlOption.rules" class="p-0 m-0">
    
    <span
      *ngIf="abstractControl.hasError(rule.name) && (abstractControl.dirty || abstractControl.touched)"
      class="text-xs text-red-600 absolute -bottom-5 left-1 flex items-center justify-start"
    >
    <svg class="w-3 h-3 mr-1 text-red-600 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
      </svg>
        {{ rule.message }}
    </span>
  </ng-container>
  
  <ng-container *ngIf="abstractControl.hasError('serverErrors')" class="p-0 m-0">
    <span *ngFor="let message of abstractControl.getError('serverErrors')" class="text-xs text-red-600 absolute -bottom-5 left-1 flex items-center justify-start">
        <svg class="w-3 h-3 mr-1 text-red-600 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
          </svg>
          {{ message }}
    </span>
  </ng-container>
  