<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center  px-6 py-8 mx-auto h-screen lg:py-0">
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Sign in to your account
                </h1>
                <form class="flex flex-col gap-6"  [formGroup]="form">
                    <div class="relative w-full">
                        <label for="username" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                        <input type="text" formControlName="username"  name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="username" required="">
                        <app-error-messages [abstractControl]="$any(form.get('username'))"
                        [formControlOption]="formControlOption.username"></app-error-messages>
                    </div>
                    <div class="relative w-full">
                        <label for="password" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                        <input [type]="active ? 'password' : 'text' " formControlName="password"  name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="true">
                        <span (click)="viewPassword()" class="absolute top-10 right-4">
                            <img width="20" class="!text-gray-900" [src]="active ? '../../../assets/icons/eye-off.svg' : '../../../assets/icons/eye-on.svg'" alt="">
                        </span>
                        <app-error-messages [abstractControl]="$any(form.get('password'))"
                        [formControlOption]="formControlOption.password"></app-error-messages>
                    </div>
                    
                    <button (click)="onSubmit()" [disabled]="!this.form.valid" type="submit" class="w-full mt-5 text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 disabled:bg-primary-900 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Sign in</button>
                </form>
            </div>
        </div>
    </div>
  </section>