<!-- <nav *ngIf="currentRoute == '/home'" >
  <ul>
    <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
    <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
  </ul>
</nav> -->
<router-outlet></router-outlet>