<main class="flex min-h-screen  flex-col items-center justify-start gap-2 p-4 lg:p-24 ">
    <div class="flex justify-start items-start hover:cursor-pointer w-full">
        <p class="text-md text-gray-800 font-semibold">Welcome, User</p>
    </div>
    <section class="flex justify-between items-center w-full">
        <h1 class="text-3xl w-full  text-left font-bold tracking-tight text-gray-900 dark:text-white">Employee List</h1>
        <button [routerLink]="['/employee/add']"
            class="hidden md:block w-44 h-9 text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-1 text-center dark:bg-primary-600 disabled:bg-primary-900 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Add
            Employee</button>
        <button [routerLink]="['/employee/add']"
            class="block md:hidden h-8  bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm p-1 px-2 text-center dark:bg-primary-600 disabled:bg-primary-900 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd"
                    d="M9 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H7Zm8-1a1 1 0 0 1 1-1h1v-1a1 1 0 1 1 2 0v1h1a1 1 0 1 1 0 2h-1v1a1 1 0 1 1-2 0v-1h-1a1 1 0 0 1-1-1Z"
                    clip-rule="evenodd" />
            </svg>
        </button>
    </section>
    <section class="filter-section flex w-full justify-between flex-col sm:flex-row">
        <div class=" rounded-md flex  items-center justify-between sm:justify-start">
            <div>
                <input type="text" id="search"
                    class="bg-gray-50 border border-gray-300 h-10 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-2.5 py-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Search" [(ngModel)]="searchQuery" (ngModelChange)="applyFilters()" />
            </div>
        </div>
        <div class="flex items-center justify-between md:justify-end ">
            <div class="hover:bg-blue-50 pl-3 rounded-md flex  items-center justify-between sm:justify-start !h-10">
                <span>Limit :</span>
                <select [(ngModel)]="limit" (ngModelChange)="onLimitChange()"
                    class="text-gray-800 !bg-transparent  font-medium rounded-md text-md px-5 py-2.5 text-center inline-flex items-center border-none !ring-0 "
                    aria-labelledby="dropdownDefaultButton">
                    <option *ngFor="let item of limitOptions" [value]="item">{{item}}</option>
                </select>
            </div>
        </div>
    </section>
    <section class="table-section flex justify-center w-full items-stretch pb-16 md:p-0 ">
        <table class="w-full">
            <tr class="p-2 flex justify-between items-center w-full">
                <td (click)="sortData('firstName')"
                    class="hover:cursor-pointer flex items-center text-md font-semibold tracking-tight text-primary-800 w-48">
                    {{'Name'}}
                    <svg *ngIf="sortBy === 'firstName' && sortOrder === 'asc'" class="w-6 h-6 text-primary-800"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 6v13m0-13 4 4m-4-4-4 4" />
                    </svg>
                    <svg *ngIf="sortBy === 'firstName' && sortOrder === 'desc'" class="w-6 h-6 text-primary-800"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 19V5m0 14-4-4m4 4 4-4" />
                    </svg>
                </td>

                <td (click)="sortData('email')"
                    class="hover:cursor-pointer text-md font-semibold hidden md:flex md:items-center tracking-tight text-primary-800 w-72">
                    {{'Email'}}
                    <svg *ngIf="sortBy === 'email' && sortOrder === 'asc'" class="w-6 h-6 text-primary-800"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 6v13m0-13 4 4m-4-4-4 4" />
                    </svg>
                    <svg *ngIf="sortBy === 'email' && sortOrder === 'desc'" class="w-6 h-6 text-primary-800"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 19V5m0 14-4-4m4 4 4-4" />
                    </svg>
                </td>

                <td (click)="sortData('status')"
                    class="hover:cursor-pointer text-md font-semibold hidden md:flex md:items-center tracking-tight text-primary-800 w-32">
                    {{'Status'}}
                    <svg *ngIf="sortBy === 'status' && sortOrder === 'asc'" class="w-6 h-6 text-primary-800"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 6v13m0-13 4 4m-4-4-4 4" />
                    </svg>
                    <svg *ngIf="sortBy === 'status' && sortOrder === 'desc'" class="w-6 h-6 text-primary-800"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 19V5m0 14-4-4m4 4 4-4" />
                    </svg>
                </td>

                <td (click)="sortData('group')"
                    class="hover:cursor-pointer text-md font-semibold hidden md:flex md:items-center tracking-tight text-primary-800 w-32">
                    {{'Group'}}
                    <svg *ngIf="sortBy === 'group' && sortOrder === 'asc'" class="w-6 h-6 text-primary-800"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 6v13m0-13 4 4m-4-4-4 4" />
                    </svg>
                    <svg *ngIf="sortBy === 'group' && sortOrder === 'desc'" class="w-6 h-6 text-primary-800"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 19V5m0 14-4-4m4 4 4-4" />
                    </svg>
                </td>

                <td class="text-md font-semibold hidden md:block tracking-tight text-gray-900 w-16">{{'Action'}}</td>
            </tr>
            @for (item of paginatedData ; track item.id) {
            <tr
                class="flex w-full max-w-full my-1 p-2 justify-between items-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 ">
                <td class="  text-md font-semibold tracking-tight text-gray-900 dark:text-white w-48">
                    <h5 class="hover:cursor-pointer" [routerLink]="['/employee/detail', item.id]">{{item.firstName }}
                        {{item.lastName}}</h5>
                </td>
                <td class="text-md font-normal hidden md:block tracking-tight text-gray-900 w-72">{{item.email}}</td>
                <td class="text-md font-normal hidden md:block tracking-tight text-gray-900 w-32">{{item.status}}</td>
                <td class="text-md font-normal hidden md:block tracking-tight text-gray-900 w-32">{{item.group}}</td>
                <td class="flex items-center justify-between w-16">
                    <svg [routerLink]="['/employee/edit', item.id]"
                        class="hover:cursor-pointer bg-yellow-300 mr-2 p-1 rounded-md w-7 h-7  text-white"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                            d="M5 8a4 4 0 1 1 7.796 1.263l-2.533 2.534A4 4 0 0 1 5 8Zm4.06 5H7a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h2.172a2.999 2.999 0 0 1-.114-1.588l.674-3.372a3 3 0 0 1 .82-1.533L9.06 13Zm9.032-5a2.907 2.907 0 0 0-2.056.852L9.967 14.92a1 1 0 0 0-.273.51l-.675 3.373a1 1 0 0 0 1.177 1.177l3.372-.675a1 1 0 0 0 .511-.273l6.07-6.07a2.91 2.91 0 0 0-.944-4.742A2.907 2.907 0 0 0 18.092 8Z"
                            clip-rule="evenodd" />
                    </svg>
                    <svg *ngIf="item.id !== undefined" (click)="delete(item.id)"
                        class="hover:cursor-pointer bg-red-400 p-1 rounded-md w-7 h-7 text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                            d="M8.586 2.586A2 2 0 1 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                            clip-rule="evenodd" />
                    </svg>

                </td>
            </tr>
            } @empty {
            <div class="flex w-full justify-center">
                <h5 class="text-md font-bold tracking-tight text-gray-900 dark:text-white">No Data</h5>
            </div>
            }
        </table>
    </section>

    <section
        class="flex justify-between w-full mt-2 bg-white items-center fixed bottom-0 py-5 px-4  md:p-0 md:relative">
        <div class="flex w-full justify-start">
            <span>
                Total Data : {{totalData}}
            </span>
        </div>
        <div class="flex w-full justify-end gap-2">
            <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1"
                class="text-gray-800 disabled:text-gray-300"><svg class="w-6 h-6 inherit" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 12h14M5 12l4-4m-4 4 4 4" />
                </svg>
            </button>
            <div
                class="py-1 border-primary-300 border flex justify-center items-center  w-8  h-8 text-center bg-primary-50 rounded-md">
                <span>
                    {{currentPage}}
                </span>
            </div>
            <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages"
                class="text-gray-800 disabled:text-gray-300">
                <svg class="w-6 h-6 inherit" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19 12H5m14 0-4 4m4-4-4-4" />
                </svg>

            </button>
        </div>

    </section>
</main>