<main class="flex min-h-screen  flex-col items-start justify-start gap-2 p-4 lg:p-24 ">
    <section class="flex justify-between items-start w-full flex-col gap-2">
        <div class="flex justify-start items-center hover:cursor-pointer" (click)="goBack()">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 12h14M5 12l4-4m-4 4 4 4" />
            </svg>

            <p class="text-md text-gray-800 font-semibold ml-1">Home</p>
        </div>
        <div class="flex justify-between items-center w-full">

            <h1 class="text-3xl w-full  text-left font-bold tracking-tight text-gray-900 ">Employee Detail</h1>
            <button [routerLink]="['/employee/edit/'+id]"
                class="hidden md:block w-44 h-8 text-white bg-yellow-300 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-1 text-center ">Edit
                Employee</button>
            <button [routerLink]="['/employee/edit/'+id]"
                class="hover:cursor-pointer bg-yellow-300 block md:hidden h-8 rounded-lg text-sm p-1 px-2 text-center ">
                <svg class=" rounded-md w-6 h-6  text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd"
                        d="M5 8a4 4 0 1 1 7.796 1.263l-2.533 2.534A4 4 0 0 1 5 8Zm4.06 5H7a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h2.172a2.999 2.999 0 0 1-.114-1.588l.674-3.372a3 3 0 0 1 .82-1.533L9.06 13Zm9.032-5a2.907 2.907 0 0 0-2.056.852L9.967 14.92a1 1 0 0 0-.273.51l-.675 3.373a1 1 0 0 0 1.177 1.177l3.372-.675a1 1 0 0 0 .511-.273l6.07-6.07a2.91 2.91 0 0 0-.944-4.742A2.907 2.907 0 0 0 18.092 8Z"
                        clip-rule="evenodd" />
                </svg>

            </button>
        </div>
    </section>
    <section
        class="title-section flex justify-between items-center relative mt-5 border border-gray-200 rounded-lg p-6 w-full">
        <div>
            <h1 class="text-3xl tracking-tight text-gray-900 font-semibold">{{detailEmployee?.firstName}}
                {{detailEmployee?.lastName}}</h1>
            <p class="text-sm font-light text-gray-500">ID : {{detailEmployee?.id}}</p>
        </div>
        <p *ngIf="detailEmployee?.group"
            class="text-xl tracking-tight text-center px-4 md:min-w-28 py-0.5 rounded-full bg-gray-950 text-white font-semibold">
            {{detailEmployee?.group}}</p>
    </section>
    <section class="personal-section flex gap-2 w-full  justify-center flex-col sm:flex-row  ">
        <div class="flex gap-2 border flex-col p-5 rounded-lg w-full ">
            <p class="text-xl text-left mb-1 font-bold tracking-tight text-gray-900">General Info</p>
            <div class="w-full">
                <label for="basicSalary" class="block mb-0 text-sm font-semibold text-gray-900 ">Salary</label>
                {{(detailEmployee?.basicSalary | betterCurrency) ?? '-'}}
            </div>
            <div class="w-full">
                <label for="status" class="block mb-0 text-sm font-semibold text-gray-900 ">Status</label>
                {{(detailEmployee?.status) ?? '-'}}
            </div>
        </div>
        <div class="flex gap-2 border flex-col p-5 rounded-lg w-full">
            <p class="text-xl text-left mb-1 font-bold tracking-tight text-gray-900">Personal Info</p>
            <div class="flex items-center justify-start">
                <div class="w-full">
                    <div class="w-full">
                        <label for="email" class="block mb-0 text-sm font-semibold text-gray-900 ">Email</label>
                        {{detailEmployee?.email ?? '-'}}
                    </div>
                    <div class="w-full">
                        <label for="birthDate" class="block mb-0 text-sm font-semibold text-gray-900 ">Birth
                            Date</label>
                        {{(detailEmployee?.birthDate | date:'longDate') ?? '-' }}
                    </div>
                </div>
                <div></div>
            </div>
        </div>

    </section>
    <section>
        <div class="flex gap-2 border flex-col p-5 rounded-lg w-full">
            <p class="text-xl text-left mb-1 font-bold tracking-tight text-gray-900">Description</p>
            <div class="w-full">
                {{detailEmployee?.description ?? '-'}}
            </div>
        </div>
    </section>

</main>